:root {
    font-size: 52.5%;
}

body {
    background-color: #F6F1F1;
    overflow-x: hidden;
}
header {
    display: flex;
    height: 11rem;
    align-items: center;
    justify-content: space-around;
}
.logo__content {
    display: flex;
    align-items: center;
    max-height: 8rem;
}
.logo__content img{
    max-width: 12rem;
    height: 100%;
    width: 100%;
}
.logo__content h1 {
    color: #111827;
    font-family: "Cardo";
    font-size: 3rem;
}
header a {
    font-size: 3rem;
    border: 1px solid #111827;
    padding:1.2rem;
    border-radius: 5rem;
}
header a:hover {
    background-color: #111827;
    color: #E5E4E2;
    border: 1px solid #E5E4E2;
}
.banner {
    overflow: hidden;
    height: 525px;
    background-image: url(../imagens/Colli\ Brindes.jpg);
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #111827;
}
.banner__text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2.5rem;
    position: absolute;
    left: 40rem;
}
.banner h2{
    font-size: 9rem;
}
.banner h3{
    font-size: 4rem;
}
.banner p{
    width: 50rem;
    word-break: normal;
    text-align: center;
    font-size: 3rem;
}

.banner__text a {
    width: 35rem;
    font-size: 3rem;
    background-color: #111827;
    border: 1px solid #E5E4E2;
    color: #E5E4E2;
    padding: 1.2rem;
    border-radius: 5rem;
    text-align: center;
}
.banner__text a:hover {
    background-color: #E5E4E2;
    color: #111827;
    border: 1px solid #111827;
}